*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #172a3b;
  font-size: 1.8rem;
  line-height: 1.1;
  overflow-x: hidden;
  margin: 0;
}

header,
footer,
section {
  padding: 100px 15px;
}

button {
  width: 385px;
  height: 78px;
  background-color: #0be7ab;
  font-size: 2.4rem;
  font-family: "MullerExtraBold", "Roboto";
  color: #fff;
  border: none;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

h1,
h2 {
  font-family: "MullerExtraBold", "Roboto";
  font-size: 4.8rem;
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.title {
  position: relative;
  display: inline-block;
}

.title:before {
  content: '';
  position: absolute;
  top: 25px;
  left: -10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 418px;
  height: 2px;
  background: #21d3a3;
  -webkit-box-shadow: 0px 0px 18px 2px #21d3a3;
  box-shadow: 0px 0px 18px 2px #21d3a3;
}

.title:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 127px;
  height: 126px;
  -webkit-transform: translate(80%, -25%);
  transform: translate(80%, -25%);
  background: url("../img/title-decoration.png");
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: 2rem;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@font-face {
  font-family: 'Muller Bold';
  src: url("../fonts/Fontfabric - MullerBold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Medium';
  src: url("../fonts/Fontfabric - MullerMedium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url("../fonts/Fontfabric - MullerRegular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerExtraBold';
  src: url("../fonts/Fontfabric - MullerExtraBold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/Fontfabric - MullerLight.otf");
  font-weight: 300;
  font-style: normal;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Muller Regular", "Roboto";
  font-size: 2rem;
}

.nav-brand {
  width: 16rem;
  margin-right: 8rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-links__item {
  margin-right: 7rem;
}

.nav-links__item:last-child {
  margin-right: 8rem;
}

.nav-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-enter__item {
  padding: 1rem 2.3rem;
  border: 2px solid #ff9600;
  margin-right: 2rem;
}

.nav-enter__item:last-child {
  margin-right: 0;
}

.header {
  background: url("../img/header/bg.jpg") top no-repeat;
  background-size: cover;
  padding-top: 7rem;
}

.header-wrapper {
  margin-top: 19rem;
  position: relative;
  z-index: 1;
}

.header__title--orange {
  color: #fe6001;
}

.header__subtitle {
  margin-top: 5rem;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.header__btn {
  margin: 9.6rem 0 22.1rem;
  background-color: #fe6001;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.advantages {
  background: url("../img/advantages-bg.png") center no-repeat;
  background-size: cover;
  padding-bottom: 16.6rem;
}

.advantages__btn {
  margin-top: 13.8rem;
}

.container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.8rem;
}

.card {
  border-radius: 80px;
  border: 3px solid #0be7ab;
  background-color: #107d81;
  padding: 3.3rem 4.4rem;
  margin-right: 9.2rem;
  max-width: 318px;
  min-height: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card:last-child {
  margin-right: 0;
}

.card__title {
  font-family: "Muller Bold", "Roboto";
  margin-top: 4rem;
  font-weight: 500;
  font-size: 2.4rem;
}

.card__text {
  margin-top: 3px;
}

.stat {
  background: url("../img/stat-bg.png") center no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stat__box {
  text-align: center;
}

.stat__num {
  font-size: 2.6rem;
  font-family: "MullerExtraBold", "Roboto";
  font-weight: bold;
}

.stat__act {
  margin-top: 4.3rem;
  font-size: 2.4rem;
}

.results {
  background: url("../img/results/bg.png") center no-repeat;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 20rem;
  position: relative;
}

.results:after {
  content: '';
  position: absolute;
  bottom: 160px;
  right: -130px;
  width: 609px;
  height: 736px;
  z-index: -1;
  background: url("../img/results/man.png") center no-repeat;
}

.results__wrapper {
  margin-top: 7.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.results__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 52.3%;
}

.results__card {
  width: 277px;
  height: 108px;
  border: 2px solid #0be7ab;
  background-color: #2d404f;
  margin-right: 2rem;
  margin-bottom: 3.2rem;
  padding: 3px;
  text-align: center;
}

.results__card:nth-child(even) {
  margin-right: 0;
}

.results__card:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.results__img {
  height: 100%;
  width: auto;
}

.results__btn {
  margin-top: 13.8rem;
}

.embed-responsive__container {
  position: relative;
  width: 33.5%;
  height: 396px;
  border: 3px solid #0be7ab;
  margin-right: 4rem;
}

.embed-responsive__video {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  width: 92px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#pause-button {
  display: none;
  bottom: 6px;
  top: auto;
  left: 22px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 23px;
  height: auto;
}

.referal {
  background: url("../img/referal/bg.png") center no-repeat;
  background-size: cover;
  position: relative;
}

.referal__container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.referal__btn {
  margin-top: 10rem;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.row-one__users,
.row-two__users,
.row-three__users,
.row-four__users,
.row-five__users {
  width: auto;
  z-index: 1;
}

.row-one__arrows,
.row-two__arrows,
.row-three__arrows,
.row-four__arrows,
.row-five__arrows {
  display: block;
  position: relative;
  width: auto;
}

.row-one__comment,
.row-two__comment,
.row-three__comment,
.row-four__comment,
.row-five__comment {
  font-family: "Muller Regular", "Roboto";
  position: absolute;
  font-size: 2.8rem;
  width: 110%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.row-one__users {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  height: 77px;
}

.row-one__arrows {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  top: -20px;
  height: 55px;
}

.row-one__comment {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  right: 30%;
  top: 25%;
}

.row-two__users {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  height: 55px;
}

.row-two__arrows {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  top: -10px;
}

.row-two__comment {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  top: 15%;
  right: 20%;
}

.row-three__users {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  height: 50px;
}

.row-three__arrows {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  top: -7px;
}

.row-three__comment {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  top: 10%;
  right: 10%;
}

.row-four__users {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  height: 36px;
}

.row-four__arrows {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  top: -9px;
}

.row-four__comment {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  right: 2%;
}

.row-five__users {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  height: 32px;
}

.row-five__arrows {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
  display: block;
}

.row-five__comment {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.tariffs {
  background: url("../img/tariffs-bg.png") center no-repeat;
  background-size: cover;
}

.tariffs__subtitle {
  max-width: 804px;
}

.tariffs-cards {
  margin-top: 9.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tariffs-cards__item {
  max-width: 249px;
  min-height: 278px;
  border: 2px solid #0be7ab;
  background-color: #1c3d4e;
  padding: 2.5rem 2.8rem;
  margin-right: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tariffs-cards__item:last-child {
  margin-right: 0;
}

.tariffs-cards__item--large {
  max-width: 263px;
  border: 4px solid #0be7ab;
  background-color: #1c3d4e;
}

.tariffs-cards__sub {
  font-size: 16px;
  font-weight: 300;
  font-family: "MullerLight", "Roboto";
}

.tariffs-cards__sub--large {
  font-size: 18px;
}

.tariffs-cards__text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5rem;
}

.tariffs-cards__text--large {
  font-size: 18px;
}

.tariffs-cards__title {
  font-family: "Muller Bold", "Roboto";
  font-weight: 700;
  font-size: 3rem;
  margin-top: 1rem;
}

.tariffs-cards__title--large {
  font-size: 3.6rem;
}

.tariffs-cards__btn {
  font-family: "Muller Medium", "Roboto";
  max-width: 193px;
  height: 45px;
  background-color: #fe7201;
  margin-top: 2.1rem;
  font-size: 16px;
}

.tariffs-cards__btn--large {
  font-size: 17px;
  background-color: #fe6001;
  background-image: linear-gradient(-51deg, #fbb203 0%, #fe7e01 100%);
  max-width: 203px;
  height: 46px;
}

.contacts {
  background: url("../img/contacts/bg.png") top no-repeat;
  background-size: cover;
}

.contacts__container {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__item {
  margin-right: 5rem;
}

.contacts__item:last-child {
  margin-right: 0;
}

.scene {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.layer {
  position: absolute;
  top: 20px;
  left: -132px;
  z-index: 0;
}

.layer-eth {
  background: url("../img/header/eth.png") center no-repeat;
  height: 160px;
  width: 100px;
}

@media screen and (min-width: 448px) {
  header,
  section,
  footer {
    padding-left: calc(50% - 209px);
    padding-right: calc(50% - 209px);
  }
}

@media screen and (min-width: 575px) {
  header,
  section,
  footer {
    padding-left: calc(50% - 272.5px);
    padding-right: calc(50% - 272.5px);
  }
}

@media screen and (min-width: 767px) {
  header,
  section,
  footer {
    padding-left: calc(50% - 368.5px);
    padding-right: calc(50% - 368.5px);
  }
}

@media screen and (min-width: 991px) {
  header,
  section,
  footer {
    padding-left: calc(50% - 480.5px);
    padding-right: calc(50% - 480.5px);
  }
}

@media screen and (min-width: 1170px) {
  header,
  section,
  footer {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
}